@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#form > p{
    font-size: 0.9em;
    padding: 2px;
}

.login{
    background-color: cadetblue;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.senha{
    background-color: cadetblue;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
}

.login > label{
    display: none;
    color: white;
}

.senha > label{
    display: none;
    color: white;
}

#idlogin{
    font-size: 2em;
    color: white;
    width: 40px;
    padding: 5px;
}


.login > input{
    font-size: 1em;
    height: 90%;
    border-radius: 8px;
    padding: 5px;
    width: calc(100% - 50px);
    border: 1px solid darkcyan;
    background-color: lightgray;
    transform: translateY(-4px);
}

.login > input:focus-within{
    background-color: white;
}


#idsenha{
    font-size: 2em;
    color: white;
    width: 40px;
    padding: 5px;
}

.senha > input{
    font-size: 1em;
    height: 90%;
    border-radius: 8px;
    padding: 5px;
    width: calc(100% - 50px);
    border: 1px solid darkcyan;
    background-color: lightgray;
    transform: translateY(-4px);
}

.senha > input:focus-within{
    background-color: white;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(43, 42, 42, 0.856);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem{
    display: block;
    /*Utilizo display: block para que sempre seja exibida*/
    background: cornflowerblue url(../imagens/predio.jpg) no-repeat;
    height: 250px;
    background-size: cover;
    background-position: left bottom;
}

#form{
    display: block;
    padding: 5px;
    height: 100vh;
    font-size: 0.8em;
}

#form > h1{
   text-align: center;
}

#buttons > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
    margin-top: 6px;
}

#buttons > input[type="submit"]:hover{
    background-color: darkcyan;
    cursor: pointer;
}

#buttons > a{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 4px;
    margin-top: 5px;
}

#buttons > a:hover{
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

#mailicon{
    padding-top: 8px;
    font-size: 1.2em;
}