@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(43, 42, 42, 0.856);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    /*Utilizo display: block para que sempre seja exibida*/
    background: cornflowerblue url(../imagens/predio.jpg) no-repeat;
    height: 250px;
    background-size: cover;
    background-position: left bottom;
}

#form{
    display: block;
    padding: 5px;
    height: 100vh;
    font-size: 0.8em;
}

#form > h1{
   text-align: center;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
}

form > input[type="submit"]:hover{
    background-color: darkcyan;
    cursor: pointer;
}

#button{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
}

#button:hover{
    background-color: darkcyan;
    cursor: pointer;
}