@charset "UTF-8";

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) { 
    body{
        background-image: linear-gradient( to right, cornflowerblue, rgb(79, 79, 238));
    }

    #login{
        width: 80vw;
        height: 350px;
    }

    #imagem{
        float: right;
        width: 35%;
        height: 100vh;
    }

    #form{
        float: left;
        width: 65%;
        height: 100vh;
    }

    #form > h1{
        margin-bottom: 20px;
        font-size: 1.8em;
    }

    #form > p{
        font-size: 1.3em;
        padding: 10px;
    }


}

/*Telas Grandes*/
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient( to right, cornflowerblue, rgb(79, 79, 238));
    }
    
    #login{
        width: 990px; /*Utilizei um tamanho em px para que ele pare de crescer e não ocupe uma largura muito grande da vw*/
    }

    #imagem{
        float: left;
        width: 40%;
        height: 100vh;
    }

    #form{
        float: right;
        width: 60%;
        height: 100vh;
    }

    #form > h1{
        margin-bottom: 20px;
        font-size: 1.8em;
    }

    #form > p{
        font-size: 1.3em;
        padding: 10px;
    }

    .login > label{
        display: inline-block;
    }
    
    .senha > label{
        display: inline-block;
    }

    .senha > input{
        font-size: 1em;
        height: 90%;
        border-radius: 8px;
        padding: 5px;
        width: calc(100% - 120px);
        border: 1px solid darkcyan;
        transform: translateY(-4px);
    }

    .login > input{
        font-size: 1em;
        height: 90%;
        border-radius: 8px;
        padding: 5px;
        width: calc(100% - 120px);
        border: 1px solid darkcyan;
        transform: translateY(-4px);
    }
}